/* General styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: black; */
}

/* Nav */
.bg-light {
  background-color: white!important;
}

/* Homepage */

.header {
  background-image: url('./assets/images/headbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  font-size: 1em;
}

.mostRecent {
  height: 43vh;
}

.mostRecent:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.5s ease-in-out;
}

/* About */

.aboutSection {
  height: 40vh;
}

/* Portfolio */