/* General styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* .full-height {
  top: 0;
  bottom: 0;
} */

/* html, body, #app, #app>div {
  height: 100%
} */

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: black; */
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

#root {
  height: inherit;
}

.container {
  max-width: 100%;
}

/* Nav */
.navbar-light .navbar-brand, .nav a{
  color: white;
}

.bg-light {
  background-color: transparent!important;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  color: white;
  font-size: 3.5em;
}

.flex-container-center {
  padding-top: 2rem;
  padding-right: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* justify-content: center; */
  align-items: right;
}

.hidden {
  display: none;
}

.nav-close {
  position: absolute;
  float: right;
  /* top: 0; */
  right: 0;
  /* bottom: 0;
  left: 0; */
  padding-top: 0;
  padding-right: 2rem;
  /* text-align: right; */
}

.selected {
  text-decoration: underline;
}

.navbar, .navbar-brand {
  font-size: 4vh;
}

.nav-link {
  font-weight: bolder;
  font-size: 10vh;
}

.nav-link:hover{
  color: gold;
} 

/* Homepage */
#tsparticles {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: tomato;
}

.tsparticles-canvas-el {
  height: 100%;
  width: 100%;
}

/* .header {
  background-image: url('./assets/images/headbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  font-size: 0.5em;
} */


.home-links:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.5s ease-in-out;
}

/* About */

.aboutSection {
  height: 40vh;
}

/* Portfolio */